<ul class="space-y-4 w-full">
  <li
    *ngFor="let tempProductCategory of productCategory"
    class="list-none w-full"
  >
    <a
      routerLink="/category/{{ tempProductCategory.id }}"
      class="no-underline font-bold block p-2 text-teal-500 hover:bg-teal-100 hover:text-black dark:text-white rounded-lg dark:hover:bg-violet-200 dark:hover:text-black"
      routerLinkActive="bg-teal-100 text-black  dark:bg-violet-200 dark:text-black"
      >{{ tempProductCategory.categoryName }}</a
    >
  </li>
</ul>
