<div
  class="max-w-full flex justify-between bg-teal-500 rounded-lg dark:bg-violet-300"
>
  <div class="flex items-center">
    <p-button
      (click)="sidebarVisible = true"
      icon="pi pi-bars"
      styleClass="text-xl"
    ></p-button>
    <app-search></app-search>
  </div>
  <div class="flex items-center">
    <app-cart-status></app-cart-status>
    <p-button (click)="darkMode()" class="rounded-lg">
      <span *ngIf="!isDarkModeEnabled">
        <fa-icon class="text-xl" [icon]="sunIcon"></fa-icon
      ></span>
      <span *ngIf="isDarkModeEnabled">
        <fa-icon class="text-xl" [icon]="moonIcon"></fa-icon
      ></span>
    </p-button>
  </div>
</div>

<!-- SIDE BAR -->
<p-sidebar [(visible)]="sidebarVisible">
  <ng-template pTemplate="body">
    <app-product-category></app-product-category>
  </ng-template>
</p-sidebar>
<!-- MAIN CONTENT -->
<router-outlet></router-outlet>
